.header-header {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
}
.header-container {
  flex: 0 0 auto;
  width: 114px;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: 0px;
  border-radius: 20px;
  margin-bottom: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-scheme-4);
}
.header-icon {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
}
.header-icon03 {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
}
.header-icon05 {
  fill: var(--dl-color-scheme-white);
  width: 24px;
  height: 24px;
}
.header-container1 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  justify-content: center;
}
.header-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.header-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-icon07 {
  fill: var(--dl-color-scheme-q);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
  text-decoration: none;
}
.header-icon07:hover {
  fill: var(--dl-color-scheme-4);
  transform: scale(1.1);
}
.header-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-scheme-white);
  list-style-position: inside;
}
.header-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle01:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-notification {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.header-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-icon09 {
  fill: var(--dl-color-scheme-q);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
  text-decoration: none;
}
.header-icon09:hover {
  fill: var(--dl-color-scheme-4);
  transform: scale(1.1);
}
.header-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-scheme-white);
  list-style-position: inside;
}
.header-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle03:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-map {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.header-navlink4 {
  display: contents;
}
.header-icon11 {
  height: 6em;
  text-decoration: none;
}
.header-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.header-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-icon13 {
  fill: var(--dl-color-scheme-q);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
  text-decoration: none;
}
.header-icon13:hover {
  fill: var(--dl-color-scheme-4);
  transform: scale(1.1);
}
.header-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-scheme-white);
  list-style-position: inside;
}
.header-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle05:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-ranking {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-container6 {
  flex: 0 0 auto;
  color: var(--dl-color-scheme-darkblue);
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.header-thq-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle06:hover {
  transform: scale(1.1);
}
.header-icon15 {
  top: 0px;
  fill: var(--dl-color-scheme-pink);
  left: var(--dl-space-space-oneandhalfunits);
  right: 0px;
  width: 24px;
  bottom: var(--dl-space-space-oneandhalfunits);
  height: 24px;
  margin: auto;
  z-index: 100;
  position: absolute;
  transition: 0.3s;
}
.header-icon15:hover {
  transform: scale(1.1);
}
.header-icon17 {
  fill: var(--dl-color-scheme-q);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  transition: 0.3s;
}
.header-icon17:hover {
  fill: var(--dl-color-scheme-4);
}
.header-dropdown-list3 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-scheme-white);
  list-style-position: inside;
}
.header-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle07:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-delivery {
  width: 118px;
  cursor: pointer;
  height: 21px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-container7 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
}
.header-thq-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-icon19 {
  fill: var(--dl-color-scheme-darkgray);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.header-dropdown-list4 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-scheme-white);
  list-style-position: inside;
}
.header-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle09:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-profile {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.header-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-dropdown-toggle10:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.header-sign-out {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}











@media(max-width: 1600px) {
  .header-header {
    width: 80%;
  }
}

.social-bar-social-bar {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  align-self: stretch;
  justify-content: center;
}
.social-bar-link {
  display: contents;
}
.social-bar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-bar-link1 {
  display: contents;
}
.social-bar-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-bar-link2 {
  display: contents;
}
.social-bar-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-bar-link3 {
  display: contents;
}
.social-bar-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}







@media(max-width: 767px) {
  .social-bar-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .social-bar-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.account-profile-john-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.account-profile-john-container1 {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  align-items: flex-start;
  border-radius: 2em;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  background-color: #ccecf5;
}
.account-profile-john-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
}
.account-profile-john-image {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.account-profile-john-text {
  font-size: 40px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
}
.account-profile-john-stats {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  justify-content: center;
}
.account-profile-john-stat {
  width: 202px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.account-profile-john-icon {
  fill: var(--dl-color-scheme-darkgray);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.account-profile-john-text04 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.account-profile-john-text07 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.account-profile-john-stat1 {
  width: 201px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.account-profile-john-icon2 {
  fill: var(--dl-color-scheme-darkgray);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.account-profile-john-text08 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.account-profile-john-text11 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.account-profile-john-stat2 {
  width: 222px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.account-profile-john-container3 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.account-profile-john-icon4 {
  fill: var(--dl-color-scheme-darkgray);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.account-profile-john-text12 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.account-profile-john-text13 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.account-profile-john-stat3 {
  width: 198px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.account-profile-john-icon6 {
  fill: var(--dl-color-scheme-darkgray);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.account-profile-john-text14 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.account-profile-john-text15 {
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
@media(max-width: 767px) {
  .account-profile-john-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .account-profile-john-stat {
    padding: var(--dl-space-space-unit);
  }
  .account-profile-john-text04 {
    text-align: center;
  }
  .account-profile-john-stat1 {
    padding: var(--dl-space-space-unit);
  }
  .account-profile-john-text08 {
    text-align: center;
  }
  .account-profile-john-stat2 {
    padding: var(--dl-space-space-unit);
  }
  .account-profile-john-text12 {
    text-align: center;
  }
  .account-profile-john-stat3 {
    padding: var(--dl-space-space-unit);
  }
  .account-profile-john-text14 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .account-profile-john-stats {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
}
